body {
    font-family: 'Jost', sans-serif !important;
}

a {
    text-decoration: none;
    margin: auto;
    color: #fff;
}

.flex-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    background-color: #bec0da;
}

.toggle {
    display: none;
}

.headerWrapper {
    width: 100%;
    height: 10vh;
    background-color: #ffffff;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.header {
    width: 95%;
    height: 10vh;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.headerMid {
    position: relative;
    right: 11px;
}

.headerMid h1 {
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 0.2rem;
    font-weight: 600;
    color: #292059;
}

.headerMid h2 {
    font-size: 1rem;
    text-align: center;
    margin-bottom: 0.2rem;
    color: #292059;
}

.fa-user {
    font-size: 1.2rem;
    padding-right: 20px !important;
    color: #292059;
}

form {
    position: relative;
    transition: all 1s;
    width: 50px;
    height: 50px;
    background: #fff;
    box-sizing: border-box;
    border-radius: 25px;
    border: 4px solid white;
    padding: 5px;
}

input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 42.5px;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 1em;
    border-radius: 20px;
    padding: 0 20px;
    background-color: #eff1fe;
}

.fa {
    box-sizing: border-box;
    padding: 10px;
    width: 42.5px;
    height: 42.5px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    color: #292059;
    text-align: center;
    font-size: 1.2em;
    transition: all 1s;
}

form:hover {
    width: 200px;
    cursor: pointer;
}

form:hover input {
    display: block;
}

form:hover .fa {
    background: #292059;
    color: #fff;
}

.mobFooterWrapper {
    margin-top: auto;
}

.mobFooter {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #ffffff;
    justify-content: space-evenly;
    text-align: center;
    height: 60px;
}

.home,
.practice,
.mock,
.coins,
.profileFooter {
    margin-top: auto;
    margin-bottom: auto;
    color: #7c7499;
    font-size: 1.2rem;
    cursor: pointer;
}

.mobFooter a {
    text-decoration: none;
    margin: auto;
}

.active {
    color: #292059 !important;
}

.practiceWrapper {
    margin: auto;
    /* margin-top: 5%; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
    width: 90%;
    color: #fff !important;
}

.history {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* margin: 5% 5%; */
}

.geography {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.economy {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.geography h1 {
    font-size: 1.2rem;
    margin: auto;
}

.economy h1 {
    font-size: 1.2rem;
    margin: auto;
}

.child1,
.child2 {
    background-color: #a0a1ca;
    width: 48%;
    height: 50px;
    text-align: center;
    display: flex;
    box-shadow: 5px 5px 15px -5px #000000;
}

.history h1 {
    font-size: 1.2rem;
    margin: auto;
}

.longCard {
    width: 100%;
    margin: auto;
    height: 50px;
    background-color: #a0a1ca;
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
    display: flex;
}

.longCard h1 {
    font-size: 1.2rem;
    margin: auto;
}

.misc {
    width: 100%;
    margin: auto;
    height: 50px;
    background-color: #a0a1ca;
    text-align: center;
    display: flex;
    box-shadow: 5px 5px 15px -5px #000000;
}

.misc h1 {
    font-size: 1.2rem;
    margin: auto;
}

.longCard {
    box-shadow: 5px 5px 15px -5px #000000;
}

.practiceDesktop {
    display: none;
}

@media only screen and (min-width: 900px) {
    .headerWrapper a {
        text-decoration: none;
        color: #eff1fe;
    }
    .toggle {
        display: block;
        text-shadow: none;
        font-size: 1.5rem;
        color: #fff;
        font-weight: 600;
    }
    .mobFooterWrapper,
    .profile {
        display: none;
    }
    .headerWrapper {
        border-radius: 0px;
        background-color: #292059;
    }
    .headerMid {
        display: none;
    }
    .toggle h1 {
        display: inline;
    }
    .practiceWrapper {
        display: none;
    }
    .practiceDesktop {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
        margin: auto;
        margin-top: 2%;
    }
    .child {
        background-color: #7c7499;
        padding: 10px;
        font-size: 1.5rem;
        margin: 1% 1%;
        box-shadow: 5px 5px 15px -5px #000000;
    }
    .home,
    .practice,
    .mock,
    .profileFooter {
        transition: transform 0.5s;
    }
    .home:hover,
    .practice:hover,
    .mock:hover,
    .coins:hover,
    .profileFooter:hover {
        transform: scale(1.2);
    }
}