body {
    font-family: 'Jost', sans-serif !important;
}

.flex-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    background-color: #bec0da;
}

.toggle {
    display: none;
}

.headerWrapper {
    width: 100%;
    height: 10vh;
    background-color: #ffffff;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.header {
    width: 95%;
    height: 10vh;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.headerMid {
    position: relative;
    right: 11px;
}

.headerMid h1 {
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 0.2rem;
    font-weight: 600;
    color: #292059;
}

.headerMid h2 {
    font-size: 1rem;
    text-align: center;
    margin-bottom: 0.2rem;
    color: #292059;
}

.fa-user {
    font-size: 1.2rem;
    padding-right: 20px !important;
    color: #292059;
}

form {
    position: relative;
    transition: all 1s;
    width: 50px;
    height: 50px;
    background: #fff;
    box-sizing: border-box;
    border-radius: 25px;
    border: 4px solid white;
    padding: 5px;
}

input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 42.5px;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 1em;
    border-radius: 20px;
    padding: 0 20px;
    background-color: #eff1fe;
}

.fa {
    box-sizing: border-box;
    padding: 10px;
    width: 42.5px;
    height: 42.5px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    color: #292059;
    text-align: center;
    font-size: 1.2em;
    transition: all 1s;
}

form:hover {
    width: 200px;
    cursor: pointer;
}

form:hover input {
    display: block;
}

form:hover .fa {
    background: #292059;
    color: #fff;
}

.carousel {
    width: 100%;
    margin: 5% auto;
}

.slick .image img {
    width: 90%;
    margin: 0 auto;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.slick .image {
    margin-bottom: 4%;
}

.mockBanner {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: #9ac786;
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    border-radius: 10px;
    margin-bottom: 5%;
}

.mockBanner a {
    text-decoration: none;
    color: black;
    color: #ffffff;
    font-weight: 600;
}

.mockBanner h1 {
    margin: 5% 5%;
}

.fa-chevron-circle-right {
    float: right;
    font-size: 1.2rem;
}

.activityHeader {
    width: 90%;
    margin: 0 auto;
}

.activityHeader h1 {
    font-size: 1.5rem;
    font-weight: 600;
    color: #000;
    text-shadow: #38383891 1px 2px 2px
}

.activityContainer {
    width: 90%;
    margin: 0 auto;
}

.activity {
    background-color: #ffffff;
    width: 90%;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 4%;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.activityContent {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
}

.activity h1 {
    display: inline-block;
    height: fit-content;
    margin: auto 0;
    font-size: 1.5rem;
    font-weight: 400;
}

.activity h2 {
    display: inline-block;
    height: fit-content;
    margin: auto 0;
    font-size: 1.2rem;
}

.chart {
    display: inline-block;
    /* margin-left: 70%; */
}

.chart span {
    position: relative;
    left: 33px;
    bottom: 15px;
    font-size: 0.8rem;
}

.mobFooterWrapper {
    margin-top: auto;
}

.mobFooter {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #ffffff;
    justify-content: space-evenly;
    text-align: center;
    height: 60px;
}

.home,
.practice,
.mock,
.coins,
.profileFooter {
    margin-top: auto;
    margin-bottom: auto;
    color: #7c7499;
    font-size: 1.2rem;
    cursor: pointer;
}

.mobFooter a {
    text-decoration: none;
    margin: auto;
}

.active {
    color: #292059 !important;
}

@media only screen and (min-width: 1000px) {
    a {
        text-decoration: none;
        color: #eff1fe;
    }
    .mobFooterWrapper,
    .profile {
        display: none;
    }
    .headerWrapper {
        border-radius: 0px;
        background-color: #292059;
    }
    .headerMid {
        display: none;
    }
    .toggle {
        display: block;
        text-shadow: none;
        font-size: 1.5rem;
        color: #fff;
        font-weight: 600;
    }
    .active {
        color: #80d8ff !important;
    }
    .toggle h1 {
        display: inline;
    }
    .carousel {
        margin: 2% auto;
    }
    .slick .image {
        height: 500px;
    }
    .home,
    .practice,
    .mock,
    .profileFooter {
        transition: transform 0.5s;
    }
    .home:hover,
    .practice:hover,
    .mock:hover,
    .coins:hover,
    .profileFooter:hover {
        transform: scale(1.2);
    }
    .fa {
        color: #292059;
    }
    form:hover .fa {
        background: #433aca !important;
    }
    .mockBanner {
        width: 90%;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #6e69bd;
    }
    .mockBanner a {
        width: 80%;
        /* height: 100%; */
    }
    .mockBanner h1 {
        margin: 0 0;
        font-size: 2rem;
    }
    .fa-chevron-circle-right {
        float: right;
        font-size: 2rem;
    }
    .activityHeader h1 {
        font-size: 2.5rem;
    }
}